<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome !</h1>
        <p>Happily made by <a href="https://www.linkedin.com/in/saber-al-mehdi/" target="_blank">Saber</a></p>
        <a href="https://github.com/SabMehdi/SmartOp" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" class="github-logo"/>
        </a>

    </div>
   </body>
 
</html>